*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}

.sticky{
    background-color:whitesmoke;
    padding: 12px;
    text-align: center;
    border-bottom: 0.50px dotted black;
    z-index: 100;
}

.profile-card{
    margin: 60px auto ;
    min-height: 400px;
    width: 300px;
    background-color:white;
    border:2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease; 
}

.badge{
    background-color: gold;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    right:16px;
    font-size: 18px;
}

.tony{
    display: block;
    border: 1px solid black;
    border-radius: 50%;
    margin: 0 auto 15px auto;
    height: 150px;
    width: 150px;
}

.name{
    text-align: center;
    color: rgb(70, 9, 9);
    margin-bottom: 10px;
}

.bio{
    text-align: center;
    margin-bottom: 20px;
    color: #555;
    padding: 0px 10px;
    overflow: hidden;
}

.stats{
    text-align: center;
}

.stat{
    display: inline-block;
    margin: 10px;
    background-color: #caf0f8;
    width: 100px;
    padding: 5px;
    border-radius: 10%;
}

.stat h3{
    color: #0077b6;
    margin-bottom: 5px;
    cursor: pointer;
}

.btn button{
    position: fixed;
    background-color: #00b4d8;
    cursor: pointer;
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 10px;
    bottom: 20px;
    right: 35px;
       transition: transform 0.3s ease; 
}


button:hover{
    background-color: #88d7e7;
    /* font-size: large; */
    transform: scale(1.08);
    color: black;
}

.profile-card:hover{
    background-color: rgb(250, 244, 244);
    transform: scale(1.08);
}